<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>IMDB Movie Getter</title>
</head>
<body>
    <div class="container">
    <h1 class="header">Enter a movie you want to search for:</h2>
    <form action="/" method="post">
        <input class= "usertext" type="text" name="movieName" placeholder="Enter Moviename">
        <input class="button" type="submit" value="Get Movie Info">
    </form>
    <% if (error) { %>
    <p><%= error %> </p>
    <% } else { %>
        <h2 class="header"><%= movieTitle %> </h4>
        <img class="movie-poster" src="<%= moviePoster %>" alt="">
        <p class="plot"> <%= moviePlot %> </p>
    <% } %>
    </div>
</body>
</html>